__pycache__/
venv/
*.pyc
.pytest_cache/
uploads/*
!uploads/.gitkeep
*.weights
*.cfg
*.names
.env
*.db
*.pyo
*.pyd
*.sqlite3
*.c
auto_detection.py
convert_seg_to_det.py
keep_first_line.py
merge_datasets.py
update_class.py
2_head_camera.zip
2_head_camera_model.pt
migrations/versions/9b116c155b3c_add_classes_table.py
*.zip
